.first-fotter {
    display: flex;
    gap: 215px;
    padding-top: 50px;
    align-items: center;

}

.max-width-fotter {
    max-width: 1280px;
    margin: 0 auto;
}

.sub-footerpage {
    display: flex;
    gap: 160px;
    width: 100%;
    align-items: baseline;
    padding-bottom: 30px;
}

.first-fotter p {
    padding-top: 10px;
}



.fotter-container {
    width: 100%;
    height: auto;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    background-color: #FFFFFF;
}

.footerlogo {
    width: 400px;
    height: auto;


}

.first-fotter h2 {
    padding-bottom: 20px;
}

.sub-footerpage h1 {
    padding-bottom: 10px;
}

.down-footer {
    height: 65px;
    width: 100%;
    padding-top: 20px;
    padding-bottom:20px ;
}

.final-footer div {

    display: flex;

}

.final-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

